<div class="container collapse" id="collapse_<%= districtId%>" style="background-color: #00a5bb;">
      <div class="row" >
        <div class="col" >
          <div class="card card-chart" >
            <canvas id="TaxChart_<%= districtId %>" width="400" height="400" ></canvas>
          </div>
        </div>
        <div class="col">
          <div class="card card-chart">
            <canvas id="SizeChart_<%= districtId %>" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>

