
        <%
        if(flag){%>
                <div class="tab-pane active" id="tab_<%= card.districtId%>">
<%
        }else{%>
                    <div class="tab-pane" id="tab_<%= card.districtId%>">
        <%}%>
            <table  class="table" id="pkgTable_<%= card.districtId%>"  style="width: 100%; "></table>
        </div>
