<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
  <title>Matrix Template - The Ultimate Multipurpose admin template</title>
  <!-- Custom CSS -->
  <link href="assets/libs/flot/css/float-chart.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="dist/css/style.min.css" rel="stylesheet">
  <link rel="stylesheet" href="mycss.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper" style="background: #eeeeee;">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <!-- <div style="background: #eeeeee;"> -->
    <div class="page-wrapper" style="margin: 0 0 100px; padding: 15px;">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Analysis - Packages</h4>
            <div class="ml-auto text-right">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data analysis</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Sales Cards  -->
        <!-- ============================================================== -->
        <div class="row">
          <!-- Column -->
          <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
              <div class="box bg-success text-center text-white">
                <div class="row">
                  <div class="col-md-5 text-right" style="margin-top: 6px;">
                    <h1 class="fas fa-clone"></h1>
                  </div>
                  <div class="col-md-7 text-left">
                    <h5 class="m-b-0 m-t-5">
                      <%= num_records %>
                    </h5>
                    <small class="font-light" style="font-size:12.5px;">Total Records</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
              <div class="box bg-cyan text-center text-white">
                <div class="row">
                  <div class="col-md-5 text-right" style="margin-top: 6px;">
                    <h1 class="fas fa-boxes"></h1>
                  </div>
                  <div class="col-md-7 text-left">
                    <h5 class="m-b-0 m-t-5">
                      <%= products_count %>
                    </h5>
                    <small class="font-light" style="font-size:12.5px;">Total products</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
              <div class="box bg-warning text-center text-white">
                <div class="row">
                  <div class="col-md-5 text-right" style="margin-top: 6px;">
                    <h1 class="fas fa-box-open"></h1>
                  </div>
                  <div class="col-md-7 text-left">
                    <h5 class="m-b-0 m-t-5">
                      <%= product_type_count %>
                    </h5>
                    <small class="font-light" style="font-size:12.5px;">Total product types</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="d-md-flex align-items-center">
                  <div>
                    <h4 class="card-title">Site Analysis</h4>
                    <h5 class="card-subtitle">Overview of Latest Month</h5>
                  </div>
                </div>
                <div class="table-responsive">
                  <table id="zero_config" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th class="tcl">Product Antecedent</th>
                        <th class="tcl">Product Consequent</th>
                        <th class="tcm">Coverage</th>
                        <th class="tcm">Support</th>
                        <th class="tcm">Confidence</th>
                        <th class="tcm">Correlation</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tcl">A</td>
                        <td class="tcl">B</td>
                        <td class="tcm">how many times A in data</td>
                        <td class="tcm">how many times A and B in data</td>
                        <td class="tcm">Support/Coverage</td>
                        <td class="tcm">Support - Coverage(A)*Coverage(B)</td>
                      </tr>
                      <% rules.forEach(function(rule){ %>
                        <%- include("../partials/associationRow", rule) %>
                          <% }); %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th class="tcl">Product Antecedent</th>
                        <th class="tcl">Product Consequent</th>
                        <th class="tcm">Coverage</th>
                        <th class="tcm">Support</th>
                        <th class="tcm">Confidence</th>
                        <th class="tcm">Correlation</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <!-- column -->

            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <footer class="footer text-center"
      style="position: absolute; bottom: 0; height: 50px; width: 100%; padding: 15px; background: #fff;">
      All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
    </footer>
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="assets/libs/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="assets/extra-libs/sparkline/sparkline.js"></script>
  <!--Wave Effects -->
  <script src="dist/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="dist/js/custom.min.js"></script>
  <!--This page JavaScript -->
  <!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->
  <!-- Charts js Files -->
  <script src="assets/libs/flot/excanvas.js"></script>
  <script src="assets/libs/flot/jquery.flot.js"></script>
  <script src="assets/libs/flot/jquery.flot.pie.js"></script>
  <script src="assets/libs/flot/jquery.flot.time.js"></script>
  <script src="assets/libs/flot/jquery.flot.stack.js"></script>
  <script src="assets/libs/flot/jquery.flot.crosshair.js"></script>
  <script src="assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
  <script src="dist/js/pages/chart/chart-page-init.js"></script>

</body>

</html>